
@mixin hexagon($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $width * 0.89;
  background: rgba(179, 80, 187, 0.56);
  // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}